/* Font variables */
/* Size variables */
/* Color variables */
/* Clearfix */
.nav__list:after {
  content: "";
  display: block;
  clear: both; }

/* Cover, centered, background and inlineblock */
/* Ubuntu, gagalin and lifehack */
/* Section, button */
/* Fonts */
@font-face {
  font-family: lifehack;
  src: url("../fonts/lifehack_medium-webfont.woff") format("woff"), url("../fonts/lifehack_medium-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: gagalin;
  src: url("../fonts/gagalin-regular-webfont.woff") format("woff"), url("../fonts/gagalin-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

/* Main settings */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 14px; } }

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  font-family: ubuntu, Verdana, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.42;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2f3234;
  position: relative;
  -ms-touch-action: none;
  touch-action: none; }

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden; }

#content {
  height: 100%;
  min-height: 650px;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s; }
  @media screen and (max-width: 320px) {
    #content {
      min-height: initial; } }

.container {
  min-width: 300px;
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

/* Reset tag styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

p {
  padding: 0;
  margin: 0; }

button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: inherit; }

/* Feature */
.feature {
  background: url("../img/background/feature.jpg") no-repeat;
  background-size: cover;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-position: center center; }

.section__title {
  margin-bottom: 3.75rem; }

.feature__icon {
  height: 5.3125rem; }
  @media screen and (max-width: 320px) {
    .feature__icon {
      max-width: 100%;
      max-height: 100%;
      height: auto; } }

.feature__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 480px) {
    .feature__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.feature__item {
  margin-bottom: 3.125rem;
  padding: 0 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  @media screen and (max-width: 480px) {
    .feature__item {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; } }
  @media screen and (max-width: 320px) {
    .feature__item {
      margin-bottom: 0.875rem; } }

@media screen and (max-width: 480px) {
  .feature__img {
    width: 35%; } }

@media screen and (max-width: 320px) {
  .feature__img {
    width: 25%;
    margin-right: 1.5625rem; } }

@media screen and (max-width: 480px) {
  .feature__description {
    text-align: left;
    width: 65%; } }

@media screen and (max-width: 320px) {
  .feature__description {
    width: 75%; } }

.feature__name {
  font-size: 1.5rem;
  font-family: lifehack, cursive;
  font-weight: 500;
  font-style: normal;
  color: #2f3234;
  margin-bottom: 1.25rem; }
  @media screen and (max-width: 320px) {
    .feature__name {
      margin-bottom: 12px; } }

/* Team */
.team {
  background: url("../img/background/team.png") top no-repeat;
  background-size: cover;
  position: relative; }
  .team .section__title {
    margin-bottom: 2.8125rem; }

.team__block {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 50%;
  background: rgba(47, 50, 52, 0.93);
  padding: 5% 2% 0 7%; }
  @media screen and (max-width: 768px) {
    .team__block {
      left: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 0; } }

@media screen and (max-width: 768px) {
  .team-accordeon {
    text-align: center; } }

.team-accordeon__item {
  margin-bottom: 0.9375rem; }
  .team-accordeon__item:last-child {
    margin-bottom: 0; }
  .team-accordeon__item_active .team-accordeon__trigger {
    color: #f9b43b; }
    .team-accordeon__item_active .team-accordeon__trigger:before {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
  .team-accordeon__item_active .team-accordeon__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 768px) {
      .team-accordeon__item_active .team-accordeon__info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }

.team-accordeon__trigger {
  color: #fff;
  font-size: 0.875rem;
  font-family: gagalin, cursive;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  display: block;
  margin-bottom: 1.25rem; }
  @media screen and (max-width: 768px) {
    .team-accordeon__trigger {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      font-size: 1.5625rem; } }
  @media screen and (max-width: 480px) {
    .team-accordeon__trigger {
      font-size: 1.5625rem; } }
  .team-accordeon__trigger:before, .team-accordeon__trigger:after {
    content: "";
    display: block;
    position: absolute;
    left: -1.25rem;
    top: 0.3125rem;
    width: 0;
    height: 0; }
    @media screen and (max-width: 768px) {
      .team-accordeon__trigger:before, .team-accordeon__trigger:after {
        top: 0.8125rem; } }
  .team-accordeon__trigger:before {
    border-top: 0.4375rem solid #f9b43b;
    border-left: 0.3125rem solid transparent;
    border-right: 0.3125rem solid transparent;
    border-bottom: 0rem solid transparent;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  .team-accordeon__trigger:after {
    display: none;
    border-bottom: 0.4375rem solid #f9b43b;
    border-left: 0.3125rem solid transparent;
    border-right: 0.3125rem solid transparent;
    border-top: 0rem solid transparent; }

.team-accordeon__info {
  padding-top: 0.9375rem;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.team-accordeon__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.team-accordeon__photo-elem {
  width: 6.25rem;
  height: 6.25rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-bottom: 15px;
  margin-right: 10px; }

.team-accordeon__description {
  width: 73%; }

.team-accordeon__position {
  font-family: ubuntu, Verdana, Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 0.875rem;
  color: #fff;
  margin-bottom: 0.875rem; }

.team-accordeon__speech {
  font-family: ubuntu, Verdana, Arial, sans-serif;
  font-weight: light;
  font-style: normal;
  color: #fff;
  font-size: 0.875rem; }

/* Menu */
.menu {
  background: url("../img/background/burgers.png") 50% no-repeat;
  background-size: cover;
  position: relative; }

.menu__title {
  position: absolute;
  top: 10%;
  left: 10%; }

.menu-accordeon {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu-accordeon__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%; }
  .menu-accordeon__item_active .menu-accordeon__category {
    color: #f9b43b; }
  .menu-accordeon__item_active .menu-accordeon__description {
    width: 45rem; }
    @media screen and (max-width: 768px) {
      .menu-accordeon__item_active .menu-accordeon__description {
        overflow-y: scroll;
        width: 100%; } }
    @media screen and (max-width: 320px) {
      .menu-accordeon__item_active .menu-accordeon__description {
        width: 100%;
        font-weight: lighter;
        font-size: 0.75rem;
        overflow-y: scroll;
        visibility: visible; } }

.menu-accordeon__trigger {
  width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-decoration: none;
  position: relative; }
  @media screen and (max-width: 320px) {
    .menu-accordeon__trigger {
      width: 3.75rem; } }

.menu-accordeon__category {
  font-size: 2.5rem;
  color: #fff;
  font-family: gagalin, cursive;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  -webkit-writing-mode: tb-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: tb-rl;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.menu-accordeon__description {
  height: 100%;
  background: rgba(47, 50, 52, 0.93);
  width: 0;
  overflow: hidden; }

.menu-accordeon__info {
  font-family: ubuntu, Verdana, Arial, sans-serif;
  font-weight: light;
  font-style: normal;
  font-size: 0.875rem;
  color: #fff;
  width: 100%;
  line-height: 1.8;
  padding: 3.75rem 1.875rem; }
  @media screen and (max-width: 320px) {
    .menu-accordeon__info {
      font-weight: lighter;
      font-size: 0.75rem;
      padding: 3.75rem 1.875rem; } }

/* Button */
.btn {
  display: inline-block;
  vertical-align: top;
  background: #e45028;
  font-size: 0.8125rem;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  padding: 0.1875rem 1rem;
  line-height: 1.875rem;
  font-family: ubuntu, Verdana, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  border: 0.0625rem solid transparent;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
  cursor: pointer;
  outline: none; }
  .btn:hover {
    background-color: #bf3c19; }
  .btn:focus {
    border: 0.0625rem solid #e35028; }

.btn-order {
  padding: 0.125rem 0.75rem; }

.fixed-menu {
  position: fixed;
  top: 5.625rem;
  right: 2.5rem; }
  @media screen and (max-width: 768px) {
    .fixed-menu {
      display: none; } }

.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  display: block;
  position: relative; }
  .fixed-menu__link:after, .fixed-menu__link:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%; }
  .fixed-menu__link:after {
    width: 0.375rem;
    height: 0.375rem;
    background: #fff; }
  .fixed-menu__link:before {
    width: 0rem;
    height: 0rem;
    border-radius: 50%;
    border: 0.0625rem solid #fff;
    opacity: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  .fixed-menu__link:hover:before {
    width: 0.875rem;
    height: 0.875rem;
    opacity: 1; }

.fixed-menu__item.active .fixed-menu__link:before {
  width: 0.875rem;
  height: 0.875rem;
  opacity: 1; }

.fixed-menu__item {
  margin-bottom: 0.3125rem; }

/* Header variables */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 0.5625rem; }

.header__menu {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
  margin-right: 0.375rem; }
  @media screen and (max-width: 768px) {
    .header__menu {
      display: none; } }

.logo {
  display: inline-block;
  position: relative;
  padding-top: 0.75rem;
  z-index: 10; }

.logo__img {
  max-width: 5.875rem; }

/* Main */
.main {
  background: url("../img/background/main.jpg") 50% 50% no-repeat;
  background-size: cover;
  position: relative; }

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 1.25rem; }

.main-wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .main__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 0 23%; } }
  @media screen and (max-width: 480px) {
    .main__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 0 12%; } }

.main__left,
.main__right {
  width: 50%; }
  @media screen and (max-width: 768px) {
    .main__left,
    .main__right {
      width: 100%; } }

.main__right {
  padding-top: 4.375rem; }
  @media screen and (max-width: 768px) {
    .main__right {
      padding-top: 0;
      text-align: center; } }

.main__subtitle {
  font-size: 4.0625rem;
  color: white;
  font-family: lifehack, cursive;
  font-weight: 500;
  font-style: normal;
  text-transform: lowercase;
  line-height: 1; }
  @media screen and (max-width: 768px) {
    .main__subtitle {
      font-size: 3.375rem; } }
  @media screen and (max-width: 480px) {
    .main__subtitle {
      font-size: 2.625rem; } }

.main__img {
  display: inline-block;
  position: relative;
  max-width: 100%;
  max-height: 100%; }

/* Down arrow */
.down-arrow {
  width: 3.75rem;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  height: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: transparent;
  border: 0;
  outline: 0; }
  .down-arrow:hover .down-arrow__icon {
    margin-top: -0.625rem;
    width: 1.8125rem;
    height: 0.875rem; }

.down-arrow__icon {
  width: 1.8125rem;
  height: 0.875rem;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  fill: #fff; }

.hamburger-menu-link {
  vertical-align: middle;
  position: relative;
  height: 1.375rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 1.875rem;
  display: none; }
  @media screen and (max-width: 768px) {
    .hamburger-menu-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      z-index: 12; } }

.hamburger-menu-link__bars, .hamburger-menu-link__bars:before, .hamburger-menu-link__bars:after {
  background: #fff;
  width: 1.5rem;
  height: 0.3125rem;
  border-radius: 0.1875rem;
  z-index: 100;
  cursor: pointer;
  -webkit-transition: -webkit-transform .25s ease;
  transition: -webkit-transform .25s ease;
  -o-transition: transform .25s ease;
  transition: transform .25s ease;
  transition: transform .25s ease, -webkit-transform .25s ease; }

.hamburger-menu-link__bars:before, .hamburger-menu-link__bars:after {
  content: "";
  display: block;
  position: absolute; }

.hamburger-menu-link__bars:before {
  top: 0; }

.hamburger-menu-link__bars:after {
  bottom: 0; }

.hamburger-menu-link.hamburger-menu-link_active .hamburger-menu-link__bars {
  background: transparent; }
  .hamburger-menu-link.hamburger-menu-link_active .hamburger-menu-link__bars:before {
    -webkit-transform: translateY(0.625rem) translateX(0) rotate(45deg);
    -ms-transform: translateY(0.625rem) translateX(0) rotate(45deg);
    transform: translateY(0.625rem) translateX(0) rotate(45deg);
    border-radius: 5px; }
  .hamburger-menu-link.hamburger-menu-link_active .hamburger-menu-link__bars:after {
    -webkit-transform: translateY(-0.4375rem) translateX(0) rotate(-45deg);
    -ms-transform: translateY(-0.4375rem) translateX(0) rotate(-45deg);
    transform: translateY(-0.4375rem) translateX(0) rotate(-45deg);
    border-radius: 5px; }

.button__container {
  position: absolute;
  top: 3%;
  right: 1px;
  height: 27px;
  width: 35px; }

.full_screen {
  position: absolute;
  background: #2f3234;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  display: none; }
  .full_screen--open {
    opacity: .99;
    display: block;
    height: 100%;
    z-index: 1; }
  .full_screen--open .full_screen-menu__item {
    -webkit-animation: fadeInDown .7s ease forwards;
    animation: fadeInDown .7s ease forwards;
    -webkit-animation-delay: .1s;
    animation-delay: .1s; }
  .full_screen-menu {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: ubuntu, Verdana, Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-weight: 500;
    text-align: center; }
  .full_screen-menu__list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block; }
  .full_screen-menu__item {
    display: block;
    position: relative;
    line-height: 0.9; }
  .full_screen-menu__item {
    display: block;
    position: relative;
    line-height: 0.9; }
  .full_screen-menu__item:after {
    display: inline-block;
    vertical-align: middle;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff; }
  .full_screen-menu__item:last-child:after {
    background-color: transparent; }
  .full_screen-menu__link {
    display: block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px; }

.body_pop-up-menu {
  overflow: hidden; }

.btn-close {
  color: #fff;
  font-size: 22px;
  cursor: pointer; }

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

.popup-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(47, 50, 52, 0.9);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .popup-menu__description {
    position: relative;
    width: 28.125rem;
    max-height: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding: 1.25rem; }
  .popup-menu__title {
    color: #2f3234;
    font-family: Gagalin;
    font-size: 14px;
    margin-bottom: 1.25rem; }
  .popup-menu__text {
    font-size: 14px;
    line-height: 1.5; }
  .popup-menu__close {
    cursor: pointer;
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
    width: 0.9375rem;
    height: 0.9375rem; }

.server-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(47, 50, 52, 0.9);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .server-menu__description {
    position: relative;
    width: 28.125rem;
    max-height: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding: 1.25rem; }
  .server-menu__title {
    color: #2f3234;
    font-family: Gagalin;
    font-size: 14px;
    margin-bottom: 1.25rem; }
  .server-menu__text {
    font-size: 14px;
    line-height: 1.5; }
  .server-menu__close {
    cursor: pointer;
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
    width: 0.9375rem;
    height: 0.9375rem; }

/* Navigation */
.nav {
  display: inline-block;
  vertical-align: middle; }

.nav__list {
  width: 100%; }

.nav__item {
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle; }
  .nav__item:last-child {
    margin-right: 0; }
    .nav__item:last-child:after {
      display: none; }
  .nav__item:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    background: white;
    margin: 0 0.875rem; }

.nav__link {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.8125rem;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-family: ubuntu, Verdana, Arial, sans-serif;
  font-weight: 500;
  font-style: normal; }
  .nav__link:hover {
    text-decoration: underline; }

/* Reviews*/
.reviews {
  background: #000; }

.reviews__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.reviews__item {
  width: 25%;
  height: 50%;
  position: relative; }
  @media screen and (max-width: 768px) {
    .reviews__item {
      width: 50%;
      height: 25%; } }

.review {
  position: relative;
  width: 100%;
  height: 100%; }
  .review:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: transparent;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  .review:hover .review__textblock {
    opacity: 1; }
  .review:hover:after {
    background: rgba(20, 20, 20, 0.7); }

.review__photo {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.review__textblock {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  opacity: 0;
  padding: 17% 12% 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  z-index: 10;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .review__textblock {
      padding: 3% 3%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.review__name {
  color: #fff;
  font-family: gagalin, cursive;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin-bottom: 1.5625rem; }
  @media screen and (max-width: 480px) {
    .review__name {
      font-size: 1.5rem;
      text-align: center; } }

.review__text {
  color: #ffffff;
  font-size: 0.875rem;
  font-family: ubuntu, Verdana, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 0.8125rem; }
  @media screen and (max-width: 480px) {
    .review__text {
      display: none; } }

.review__btn {
  border-radius: 5px;
  background-color: #2f3234;
  padding: 0.5rem 0.75rem;
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: ubuntu, Verdana, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.75rem;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  border: 0.0625rem solid transparent;
  outline: none; }
  .review__btn:hover {
    background-color: #1f2122; }
  .review__btn:focus {
    border: 0.0625rem solid #656667; }

@media screen and (max-width: 480px) {
  .review__btn {
    display: none; } }

.review__btn--mobile {
  border-radius: 5px;
  background-color: #2f3234;
  padding: 0.5rem 0.75rem;
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: ubuntu, Verdana, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.75rem;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  border: 0.0625rem solid transparent;
  outline: none;
  display: none; }
  .review__btn--mobile:hover {
    background-color: #1f2122; }
  .review__btn--mobile:focus {
    border: 0.0625rem solid #656667; }

@media screen and (max-width: 480px) {
  .review__btn--mobile {
    display: inline; } }

/* Section*/
.section {
  height: 100%;
  min-height: 40.625rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden; }
  @media screen and (max-width: 320px) {
    .section {
      min-height: initial; } }

.section__title {
  color: #f9b43b;
  font-size: 4.5rem;
  font-family: gagalin, cursive;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 0.75rem; }
  .section__title.section__title_black {
    color: #2f3234;
    text-align: center; }
  @media screen and (max-width: 768px) {
    .section__title {
      font-size: 3.375rem; } }
  @media screen and (max-width: 480px) {
    .section__title {
      font-size: 3.375rem; } }
  @media screen and (max-width: 320px) {
    .section__title {
      font-size: 1.875rem; } }

.section__title_center {
  text-align: center; }

.section__title.section__title_white {
  color: white; }

/* Order form */
.order {
  background: url("../img/background/order.png") 50% no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .order .section__title {
    text-align: center; }

.order__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .order__form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 0 20%; } }
  @media screen and (max-width: 480px) {
    .order__form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 0; } }

.order__form-column {
  width: 50%;
  margin-right: 30px; }
  @media screen and (max-width: 768px) {
    .order__form-column {
      width: 100%;
      margin-right: 0; } }
  .order__form-column:last-child {
    margin-right: 0; }

.order__form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.125rem; }

.order__form-block {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 0.625rem; }
  .order__form-block:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .order__form-block--hidden-on-mobile {
      display: none; } }

.order__form-name {
  margin-bottom: 0.3125rem;
  font-family: ubuntu, Verdana, Arial, sans-serif;
  font-weight: middle;
  font-style: normal;
  color: #fff;
  font-size: 0.875rem; }

.order__form-input {
  padding: 0.625rem;
  padding: 0.3125rem 0.625rem;
  border: 0.0625rem solid #d1cfcb;
  border-radius: 5px;
  width: 100%; }

.order__form-input_textarea {
  height: 6.875rem;
  resize: none; }

@media screen and (max-width: 480px) {
  .order__form-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

.order__form-button {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1.5625rem;
  border: 0;
  background: #e35028;
  font-size: 0.8125rem;
  text-transform: uppercase;
  border-radius: 5px;
  color: #ffffff;
  font-family: ubuntu, Verdana, Arial, sans-serif;
  font-weight: middle;
  font-style: normal;
  padding: 0.625rem 0.9375rem;
  cursor: pointer; }

.order__form-button_reset {
  text-transform: none;
  background: transparent; }

.order__form-options {
  margin-bottom: 1.25rem; }

.order__form-option {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-right: 1rem;
  cursor: pointer; }

.order__form-option__radio {
  position: absolute;
  top: 0;
  left: -624.9375rem; }

.order__form-option__radio:checked + .order__form-option__visible:after {
  width: 0.5rem;
  height: 0.5rem; }

.order__form-option__visible,
.order__form-option__name {
  display: inline-block;
  vertical-align: middle; }

.order__form-option__visible {
  width: 1.25rem;
  height: 1.25rem;
  border: 0.0625rem solid #cbcbcb;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  background: #fdfdfd; }

.order__form-option__visible:after {
  content: "";
  display: block;
  width: 0rem;
  height: 0rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #e35028;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.order__form-option__name {
  margin-left: 0.3125rem;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  color: #fff;
  font-size: 0.875rem; }

.order__form-checkbox__name {
  display: block;
  position: relative;
  padding-left: 2.1875rem;
  margin-bottom: 0.9375rem;
  cursor: pointer;
  font-size: 0.875rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff; }

.order__form-checkbox__name input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

.order__form-checkbox__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.25rem;
  width: 1.25rem;
  background-color: #fff; }

.order__form-checkbox__name:hover input ~ .order__form-checkbox__checkmark {
  background-color: #fff; }

.order__form-checkbox__name input:checked ~ .order__form-checkbox__checkmark {
  background-color: #fff; }

.order__form-checkbox__checkmark:after {
  content: "";
  position: absolute;
  display: none; }

.order__form-checkbox__name input:checked ~ .order__form-checkbox__checkmark:after {
  display: block; }

.order__form-checkbox__name .order__form-checkbox__checkmark:after {
  left: 0.375rem;
  top: 0.1875rem;
  width: 0.3125rem;
  height: 0.625rem;
  border: solid #e35028;
  border-width: 0 0.1875rem 0.1875rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.error {
  font-family: ubuntu, Verdana, Arial, sans-serif;
  font-weight: middle;
  font-style: normal;
  color: #e27575;
  font-size: 0.875rem; }

.video {
  background: url("../img/background/video_background.png") center center/cover no-repeat;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.video_container {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.player {
  position: relative;
  width: 100%; }

#player {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.big_play {
  position: absolute;
  left: 45%;
  top: 40%;
  cursor: pointer; }
  .big_play_active {
    display: none; }
  @media screen and (max-width: 480px) {
    .big_play {
      width: 50px; } }

.video__controls {
  height: 2.1875rem;
  background-color: #2f3234;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.small_play {
  padding: 0 0.9375rem;
  cursor: pointer; }

.small_pause {
  display: none;
  padding: 0 0.625rem;
  cursor: pointer; }

.duration__length {
  width: 100%;
  height: 0.3125rem;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none; }

.duration__length::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #757171;
  cursor: pointer;
  width: 0.625rem;
  height: 0.625rem; }

.sound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0.625rem; }

.sound__img {
  cursor: pointer; }

.sound__volume {
  margin-left: 0.3125rem; }

.short {
  width: 3.625rem;
  height: 0.25rem;
  position: absolute;
  -webkit-transform: translateX(-50%) rotate(-90deg);
  -ms-transform: translateX(-50%) rotate(-90deg);
  transform: translateX(-50%) rotate(-90deg);
  top: -100%;
  left: 50%;
  display: none; }
  .short_active {
    display: block; }

/* Text block*/
.text-block p {
  font-size: 0.875rem;
  line-height: 1.8; }

/* socials */
.socials {
  position: relative;
  top: 50%; }

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.625rem; }
  .socials__item:first-child {
    margin-left: 0rem; }

.socials__link {
  max-width: 1.4375rem;
  max-height: 1.25rem;
  fill: #595959;
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s; }
  .socials__link:hover {
    fill: #fff; }

.socials__icon {
  max-width: 1.4375rem;
  max-height: 1.25rem;
  display: inline-block;
  fill: #595959;
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s; }
  .socials__icon:hover {
    fill: #fff; }

.burgers {
  background: #ffaf4b;
  background: -moz-linear-gradient(top, #ffaf4b 0%, #fa9a25 16%, #fa9a25 75%, #eb9a3d 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffaf4b), color-stop(16%, #fa9a25), color-stop(75%, #fa9a25), color-stop(100%, #eb9a3d));
  background: -webkit-linear-gradient(top, #ffaf4b 0%, #fa9a25 16%, #fa9a25 75%, #eb9a3d 100%);
  background: -o-linear-gradient(top, #ffaf4b 0%, #fa9a25 16%, #fa9a25 75%, #eb9a3d 100%);
  background: -ms-linear-gradient(top, #ffaf4b 0%, #fa9a25 16%, #fa9a25 75%, #eb9a3d 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffaf4b), color-stop(16%, #fa9a25), color-stop(75%, #fa9a25), to(#eb9a3d));
  background: linear-gradient(to bottom, #ffaf4b 0%, #fa9a25 16%, #fa9a25 75%, #eb9a3d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#eb9a3d', GradientType=0 );
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.section__title {
  margin: 1.25rem 0; }

.slider__wrap {
  overflow: hidden; }

.slider-block {
  position: relative; }

.slider__button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 100; }

.slider__button_next {
  right: -3.125rem; }
  @media screen and (max-width: 768px) {
    .slider__button_next {
      right: -0.3125rem; } }
  @media screen and (max-width: 480px) {
    .slider__button_next {
      right: -0.3125rem; } }

.slider__button_prev {
  left: -3.125rem; }
  @media screen and (max-width: 768px) {
    .slider__button_prev {
      left: -0.3125rem; } }
  @media screen and (max-width: 480px) {
    .slider__button_prev {
      left: -0.3125rem; } }

.slider__arrow {
  width: 100%;
  height: 100%; }

.slider_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  right: 0; }

.slider__item {
  padding-bottom: 5.625rem;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .slider__item {
      padding: 0;
      padding-top: 4.375rem;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.slider__img {
  max-width: 95%; }
  @media screen and (max-width: 768px) {
    .slider__img {
      max-width: 65%; } }

.slider__description {
  color: #fff;
  margin-bottom: 2rem; }

.slider__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }
  @media screen and (max-width: 768px) {
    .slider__order {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.slider__price {
  font-family: gagalin, cursive;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  color: #e35028; }

.slider__price-amount, .slider__price-measure {
  line-height: 0.7; }

.slider__price-amount {
  font-size: 4.6875rem; }
  @media screen and (max-width: 768px) {
    .slider__price-amount {
      font-size: 3.25rem; } }

.slider__price-measure {
  font-size: 2.1875rem; }

.btn_order {
  margin-left: 2.1875rem; }

.burger__calories {
  position: absolute;
  bottom: 0px;
  left: 0;
  opacity: 1; }
  @media screen and (max-width: 768px) {
    .burger__calories {
      top: 1.875rem;
      right: 0;
      bottom: auto; } }
  @media screen and (max-width: 480px) {
    .burger__calories {
      top: 0.1875rem;
      right: 0;
      bottom: auto;
      left: auto; } }
  @media screen and (max-width: 320px) {
    .burger__calories {
      top: 0;
      right: 0;
      bottom: auto;
      left: auto; } }
  .burger__calories_measure {
    position: relative;
    width: 3.75rem;
    height: 3.75rem; }
    @media screen and (max-width: 768px) {
      .burger__calories_measure {
        width: 4.375rem;
        height: 4.0625rem; } }
  .burger__calories_amount {
    position: absolute;
    bottom: 0.5rem;
    left: 52%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    font-size: 1.25rem;
    font-family: gagalin, cursive;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase; }
  .burger__calories_name {
    position: relative;
    text-align: center;
    font-family: gagalin, cursive;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    font-size: 0.875rem;
    color: #fff; }
    @media screen and (max-width: 768px) {
      .burger__calories_name {
        font-size: 0.8125rem; } }

.slider__left, .slider__right {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  @media screen and (max-width: 768px) {
    .slider__left, .slider__right {
      text-align: center; } }
  @media screen and (max-width: 768px) {
    .slider__left .section__title, .slider__right .section__title {
      font-size: 2.8125rem; } }

.slider__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.slider__right .section__title {
  line-height: 1em; }

@media screen and (max-width: 768px) {
  .slider__right {
    padding: 0 15%; } }

@media screen and (max-width: 480px) {
  .slider__right {
    padding: 0 5%; } }

.composition {
  position: absolute;
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 0.3125rem;
  background: rgba(227, 80, 40, 0.3);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 1; }
  @media screen and (max-width: 480px) {
    .composition {
      margin-top: -4.375rem; } }
  @media screen and (max-width: 320px) {
    .composition {
      top: 4.6875rem; } }
  .composition.composition_active {
    background: #e35028; }
    .composition.composition_active .composition__menu {
      left: 100%;
      opacity: 1; }
      @media screen and (max-width: 480px) {
        .composition.composition_active .composition__menu {
          left: 5.625rem; } }

.composition__icon {
  height: 70%; }

.composition__icon-text {
  color: #fff;
  font-family: gagalin, cursive;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  font-size: 0.875rem; }

.composition__menu {
  padding: 1.375rem;
  background: #fff;
  position: absolute;
  width: 16.875rem;
  border-radius: 0.3125rem;
  left: -9999px;
  opacity: 0;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
  top: 0; }
  @media screen and (max-width: 480px) {
    .composition__menu {
      width: auto; } }
  @media screen and (max-width: 320px) {
    .composition__menu {
      width: 16.25rem; } }

.composition__list {
  width: 100%; }
  @media screen and (max-width: 480px) {
    .composition__list {
      width: 80%; } }

.composition__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0.75rem; }

.composition__box {
  padding-left: 1.25rem;
  width: 25%; }
  .composition__box_icon {
    width: 3.125rem;
    height: 1.875rem; }
  .composition__box:last-child {
    margin-left: auto; }
  .composition__box:first-child {
    padding-left: 0px; }

.composition__item {
  font-family: ubuntu, Verdana, Arial, sans-serif;
  font-weight: 400;
  font-style: normal; }
  @media screen and (max-width: 320px) {
    .composition__item {
      font-size: 0.875rem; } }

.composition__close {
  display: none; }
  @media screen and (max-width: 480px) {
    .composition__close {
      display: block;
      position: absolute;
      top: 0.625rem;
      right: 0.625rem;
      width: 0.9375rem;
      height: 0.9375rem; } }

.composition__close-button {
  max-width: 100%;
  max-height: 100%; }

/* Footer */
.footer {
  background: url("../img/photo/footer.png") center bottom no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.625rem 0; }

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .footer__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.footer__information {
  width: 50%;
  margin-bottom: 0.9375rem; }
  @media screen and (max-width: 480px) {
    .footer__information {
      width: initial;
      text-align: center; } }

.footer__address {
  color: #ffffff;
  font-size: 0.875rem; }

.footer__phone {
  color: #e35028;
  font-family: ubuntu, Verdana, Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  font-size: 0.875rem; }

.footer__socials {
  text-align: right; }

.map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
