/* Footer */

.footer {
	background: url('../img/photo/footer.png') center bottom no-repeat;
	background-size: cover;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
    padding: rem(10px) 0;
}

.footer__container {
  display: flex;
  flex-direction: row;  // в одну строку
  align-items: center;  // выравнивание иконок по центру

  @include phones {
	  flex-direction: column;
  }
}

.footer__information {
  width: 50%;
  margin-bottom: rem(15px);

  
  @include phones {
	width: initial;
	text-align: center;
}
}

.footer__address {
	color: #ffffff;
	font-size: rem(14px);
}

.footer__phone {
	color: $red;
	@include ubuntu(bold);
	text-decoration: none;
	font-size: rem(14px);
}

.footer__socials {
  text-align: right;   //сдвиг иконок в правую часть
}


.map {
 position: absolute;
 top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	// background: url('../img/photo/Map.png') top no-repeat;
	// background-size: cover;
}