/* Navigation */
.nav {
	@include inlineblock(middle);
}

.nav__list {
	width: 100%;
	@extend %clearfix;
}

.nav__item {
	white-space: nowrap;
	display: inline-block;
	vertical-align: middle;

	&:last-child {
		margin-right: 0;
		&:after {
			display: none;
		}
	}

	&:after {
		content: "";
		@include inlineblock(middle);
		width: rem(4px);
		height: rem(4px);
		border-radius: 50%;
		background: white;
		margin: 0 rem(14px);
	}
}

.nav__link {
	@include inlineblock(middle);
	font-size: rem(13px);
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	@include ubuntu(500);
	&:hover {
		text-decoration: underline;
	}
}