/* Section*/
.section {
	height: 100%;
	min-height: 650px;
	position: relative;
	display: flex;
}
.section__title {
	color: $yellow;
	font-size: 72px;
	@include gagalin;
	margin-bottom: 12px;
	&.section__title_black {
		color: $dark-grey;
	}
}

.section__title_center {
    text-align: center;
}

.section__title.section__title_white {
    color: white;
}