 /* socials */

 .socials {
	position: relative;
	top: 50%;
  }
  
  .socials__item {
	@include inlineblock(middle);
	margin-left: rem(10px);
  
	&:first-child {
	  margin-left: rem(0px);
	}
  
  }
  
  .socials__link {
	max-width: rem(23px);
	max-height: rem(20px);
    fill: #595959;
	transition: .1s;
	&:hover {
	  fill: #fff;
	}
  }
  
  .socials__icon {
	max-width: rem(23px);
	max-height: rem(20px);
	display: inline-block;
    fill: #595959;
	transition: .1s;
	&:hover {
	  fill: #fff;
	}
  }
  