 /* socials */

.socials {
	position: relative;
	top: 50%;
  }
  
  .socials__item {
	@include inlineblock(middle);
	margin-left: 10px;
  
	&:first-child {
	  margin-left: 0px;
	}
  
  }
  
  .socials__link {
	max-width: 23px;
	max-height: 20px;
	display: inline-block;
    fill: #595959;
	transition: .3s;
	&:hover {
	  fill: #fff;
	}
  }
  
  .socials__icon {
	max-width: 23px;
	max-height: 20px;
	display: inline-block;
    fill: #595959;
	transition: .3s;
	&:hover {
	  fill: #fff;
	}
  }
  